.narrator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 120px;
  background: transparent;
  border-radius: 12px;
  padding: 16px;
  font-family: 'Ringbearer', serif;
  color: #e6d8b0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  text-wrap: wrap;
  text-align: center;
  text-justify: center;
  height: 100%;
}

.narrator-box.fade-in {
  opacity: 1;
}

.narrator-text {
  font-size: 160px;
  line-height: 1.5;
  text-shadow: 10px 8px 2px #000;
  white-space: pre-wrap; /* mantém quebras de linha */
  text-wrap: wrap;
  text-align: center;
  text-justify: center;
  height: 100%;
}

.fade-in {
  opacity: 1;
  transition: all 0.4s ease;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(10px);
}


.fade-letter {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px); /* levinho "subindo" */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {

  .narrator-text  {
    font-size: 50px;
    text-shadow: 10px 8px 2px #0000006e;
  }

  .fade-letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .narrator-box{
    height: 100%;
    width: 100%;
    top: -250px;
  }

}



