
.box-map{
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  display: flex;
  position: absolute;
  z-index: 0;
  pointer-events:all;
}

.border-map{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,1));
  
}

.map-component{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80%;
  height: 80%;
  pointer-events: none;
  left: 10%;
  top: 8%;
}

